[Desktop Entry]
Exec=kitty --start-as=maximized
Name=kitty
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
